<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        <%= locals.title %>
    </title>
    <script src="https://kit.fontawesome.com/616ec3629b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1 id="page-heading">
        <i class="fas fa-address-book"></i>
        My Contacts List
    </h1>
    <div class="contacts-list-container">
        <ul>
            <% for(let i of contact_list){ %>
                <li class="contacts">
                    <div class="details">
                        <p><%=i.name%></p>
                        <p><%=i.phone%></p>
                    </div>
                    <div class="delete-button">
                        <a href="/delete-contact/?id=<%= i.id %> ">
                            <i class="fas fa-window-close"></i>
                        </a>
                    </div>
                    
                </li>
            <% } %>
        </ul>
    </div>
    <form id="new-contact-form" action="/create-contact" method="post">
        <input type="text" name="name" placeholder="Enter name" required>
        <input type="number" name="phone" placeholder="Enter phone" required>
        <button type="submit">Add contact</button>
    </form>


    <script type="text/javascript", src="/js/home.js"></script>
</body>
</html>